<% layout("/layouts/boilerplate") %>

<div class="row justify-content-center mt-5">
  <div class="col-md-6 text-center">
    
    <div class="alert alert-danger p-4" role="alert">
      <h4 class="alert-heading"><%= message %></h4>
      <p class="mt-2">
        The page you’re looking for doesn’t exist or you don’t have permission to view it.
      </p>
      <hr>
      <a href="/listings" class="btn btn-outline-danger mt-2">
        Go back home
      </a>
    </div>

  </div>
</div>
