body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-style: normal !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}

/* footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
} */

.container {
    flex: 1;
}


.listing-link {
    text-decoration: none;
    cursor: pointer;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color : #fe424d;
    font-size: 2rem;
}

.nav-link {
    color : #222222 !important;

}

/* Footer */

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials, .f-info-links, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a {
    text-decoration: none;
    color : #222222;
    margin-right: 1rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.card-img-top {
    border-radius: 0.8rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important ;
}

/* Card Effect */

.card-img-overlay:hover {
    background-color: white;
    opacity: 0.2;
}

/* New page */

.subBtn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */

.show-image {
    height: 50vh;    
}

.btns {
    display: flex;
}

/* MAP */

#map {
    height: 400px;
    width: 100vh;
}